{% extends "composers/layout.html" %}
<!-- {% load static %} -->

{% block sidebar %}
<div class="w-50 position-fixed ms-3 flex-column">
    <div class="col-md-3 col-7 border p-3 rounded" id="sidebar">
        <div class="mb-3">
            <select class="form-select p-2" id="composer-type">
                <option value="0">All composers</option>
                <option value="1">Popular</option>
                <option value="2">Recommended</option>
            </select>
        </div>
        <div>
            <select class="form-select p-2" id="epoch-type">
                <option value="0">All eras</option>
                <option value="1">Early Romantic</option>
                <option value="2">Romantic</option>
                <option value="3">Late Romantic</option>
            </select>
        </div>   
    </div>
</div>
{% endblock %}

{% block body %}
{% for epoch in epochs %}
<div class="h2 text-center fst-italic my-5 epoch">{{ epoch }}</div>
{% for composer in epoch.epoch_composers.all %}
{{composer.complete_name}}
<!-- {{ epoch.epoch_composers.all }} -->
{% endfor %}
{% endfor %}

{% for composer in composers %}
<!-- Item begin -->
    <div class="row d-flex composer
    {% if forloop.counter|divisibleby:'2' %} flex-row-reverse {% else %} flex-row {% endif %}
    {% if composer.is_popular %} popular {% endif %}
    {% if composer.is_recommended %} recommended {% endif %}">
        <!--Composer-->
        <div class="col-md-5 text-center">
            <a href="{% url 'composer' composer.composer_id %}">
                <img src="{{ composer.portrait }}" class="img-thumbnail rounded-circle mb-3">
                <div class="text-center text-light">
                    <span>{{ composer.complete_name }}</span>
                    <h5 class="d-md-none mb-5">
                        <span class="badge border d-md-none">{{ composer.birth|date:'Y'}} - {{ composer.death|date:'Y'}}</span>
                    </h5>
                </div>
            </a>
        </div>
        <!--Timeline Spine-->
        <div class="col-md-2 flex-column">
            <div class="row h-30 d-none d-md-flex">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <div class="d-flex justify-content-center align-items center">
                <h5 class="my-3 text-center d-none d-md-block">
                    <span class="badge border">{{ composer.birth|date:'Y'}} - {{ composer.death|date:'Y'}}</span>
                </h5>
            </div>

            <div class="row h-50 d-none d-md-flex">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
    </div>
<!-- Item end -->
{% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'composers/index.js' %}"></script>
{% endblock %}